@using EPiServer.Shell
@inherits WebViewPage<SnippetViewModel>
@{
    Layout = "~/Views/Shared/Layouts/_LayoutShell.cshtml";
}
@foreach (var snippet in Model.Snippets)
{
    <div class="row">
        <div class="span6">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>TokenId</th>
                    <th>Status</th>
                    <th>Modified</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>@snippet.Name</td>
                    <td>@snippet.TokenId</td>
                    <td>@snippet.Status</td>
                    <td>@snippet.ModifiedDate.ToString()</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="span6">
            @Html.Raw(snippet.RawHtml)
        </div>
    </div>
}