@using AlloyDemoKit.Models.Pages

@model PageViewModel<AlloyDemoKit.Models.Pages.Models.Pages.BlogListPage>

@{  Layout = "~/Views/Shared/Layouts/_TwoPlusOne.cshtml"; }

<h1 @Html.EditAttributes(x => x.CurrentPage.Heading)>@Model.CurrentPage.Heading</h1>
<p class="introduction" @Html.EditAttributes(x => x.CurrentPage.MetaDescription)>@Model.CurrentPage.MetaDescription</p>
<div class="row">
    <div class="span8 clearfix">

        @Html.PropertyFor(x => x.CurrentPage.BlogList)

    </div>
</div>
@section RelatedContent{

@Html.PropertyFor(x => x.CurrentPage.MainContentArea, new { CssClass = "row equal-height", Tag = AlloyDemoKit.Global.ContentAreaTags.TwoThirdsWidth })

    }