@using System.Web.Optimization
@using EPiServer.Framework.Web.Mvc.Html
@using AlloyDemoKit.Helpers
@using AlloyDemoKit.Business
@model IPageViewModel<SitePageData>
<!DOCTYPE html>
<html lang="@Model.CurrentPage.LanguageBranch">
<html>
    
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=10" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@Model.CurrentPage.MetaTitle</title>
        @if (Model.CurrentPage.DisableIndexing)
        {
        <meta name="robots" content="NOINDEX, NOFOLLOW">
        }
        
        @Html.CanonicalLink()
        @Html.AlternateLinks()
        @Styles.Render("~/bundles/css")
        @Html.RenderExtendedCSS(Model.CurrentPage.CSS, Model.CurrentPage.CSSFiles)
        @Scripts.Render("~/bundles/js")
        @Html.RenderExtendedScriptFiles(Model.CurrentPage.ScriptFiles)
        @Html.RequiredClientResources("Header") @*Enable components to require resources. For an example, see the view for VideoBlock.*@
    </head>

    <body>
        @if (Model.Layout.IsInReadonlyMode)
        {
            Html.RenderPartial("Readonly", Model);
        }

        @Html.RenderEPiServerQuickNavigator()
        @Html.FullRefreshPropertiesMetaData()
        <div class="container">
            @if(!Model.Layout.HideHeader)
            {
                Html.RenderPartial("Header", Model);
            }
            @RenderBody()
            @if(!Model.Layout.HideFooter)
            {
                Html.RenderPartial("Footer", Model);
            }
        </div>
        @Html.RequiredClientResources("Footer")
        @Html.RenderExtendedScripts(Model.CurrentPage.Scripts)
    </body>
</html>
