@using AlloyDemoKit
@model PageViewModel<ProductPage>

@{ Layout = "~/Views/Shared/Layouts/_TwoPlusOne.cshtml"; }

<h1 @Html.EditAttributes(x => x.CurrentPage.PageName)>@Model.CurrentPage.PageName</h1>
<p class="introduction" @Html.EditAttributes(x => x.CurrentPage.MetaDescription)>@Model.CurrentPage.MetaDescription</p>
<div class="row">
    <div class="span8 clearfix" @Html.EditAttributes(x => x.CurrentPage.MainBody)>
        @Html.DisplayFor(m => m.CurrentPage.MainBody)
    </div>
</div>
@Html.PropertyFor(x => x.CurrentPage.MainContentArea, new { CssClass = "row", Tag = Global.ContentAreaTags.TwoThirdsWidth })

@section RelatedContent
{
    <div @Html.EditAttributes(x => x.CurrentPage.PageImage)>
        <div id="gallery">
            <a href="@Url.ContentUrl(Model.CurrentPage.PageImage)?width=800&height=600&scale=canvas" title="@Model.CurrentPage.PageName"><img src="@Url.ContentUrl(Model.CurrentPage.PageImage)?width=370&scale=canvas" /></a>
            <a href="@Url.ContentUrl(Model.CurrentPage.PageImage)?width=400&height=300&scale=canvas" title="@Model.CurrentPage.PageName"></a>
            <a href="@Url.ContentUrl(Model.CurrentPage.PageImage)?width=150&height=75&scale=canvas" title="@Model.CurrentPage.PageName"></a>
        </div>
    </div>

    <div class="block colorBox @string.Join(" ", @Model.CurrentPage.GetThemeCssClassNames())">
        <h2 @Html.EditAttributes(x => x.CurrentPage.PageName)>@Model.CurrentPage.PageName</h2>
        @Html.PropertyFor(x => x.CurrentPage.UniqueSellingPoints)
    </div>

    @Html.PropertyFor(x => x.CurrentPage.RelatedContentArea, new { CssClass = "row", Tag = Global.ContentAreaTags.OneThirdWidth })
}
<script type="text/javascript">
    $(function () {
        $('#gallery a').lightBox();
    });
</script>

