@using AlloyDemoKit
@using ImageProcessor.Web.Episerver
@model PageViewModel<ProductPage>

@{ Layout = "~/Views/Shared/Layouts/_TwoPlusOne.cshtml"; }

<h1 @Html.EditAttributes(x => x.CurrentPage.PageName)>@Model.CurrentPage.PageName</h1>
<p class="introduction" @Html.EditAttributes(x => x.CurrentPage.MetaDescription)>@Model.CurrentPage.MetaDescription</p>
<div class="row">
    <div class="span8 clearfix" @Html.EditAttributes(x => x.CurrentPage.MainBody)>
        @Html.DisplayFor(m => m.CurrentPage.MainBody)
    </div>
</div>
@Html.PropertyFor(x => x.CurrentPage.MainContentArea, new { CssClass = "row", Tag = AlloyDemoKit.Global.ContentAreaTags.TwoThirdsWidth })

@section RelatedContent
{
    <div @Html.EditAttributes(x => x.CurrentPage.PageImage)>
        <div id="gallery">
            @{
                var image = Url.ContentUrl(Model.CurrentPage.PageImage);
                if (!string.IsNullOrWhiteSpace(image))
                {
                    <a href="@Html.ProcessImage(image).Resize(800, 600)" title="@Model.CurrentPage.PageName"><img src="@Html.ProcessImage(image).Width(370)" /></a>
                    <a href="@Html.ProcessImage(image).Resize(400, 300)" title="@Model.CurrentPage.PageName"></a>
                    <a href="@Html.ProcessImage(image).Resize(150, 75)" title="@Model.CurrentPage.PageName"></a>
                }
            }
        </div>
    </div>

    <div class="block colorBox @string.Join(" ", @Model.CurrentPage.GetThemeCssClassNames())">
        <h2 @Html.EditAttributes(x => x.CurrentPage.PageName)>@Model.CurrentPage.PageName</h2>
        @Html.PropertyFor(x => x.CurrentPage.UniqueSellingPoints)
    </div>

    @Html.PropertyFor(x => x.CurrentPage.RelatedContentArea, new { CssClass = "row", Tag = AlloyDemoKit.Global.ContentAreaTags.OneThirdWidth })
}
<script type="text/javascript">
    $(function () {
        $('#gallery a').lightBox();
    });
</script>

