@model ButtonBlock

<a class="@Model.ButtonStyle" title="@Model.ButtonText" href="@Url.ContentUrl(Model.ButtonLink)" @Html.EditAttributes(m => m.ButtonText)>
    @{
        var buttonText = string.IsNullOrWhiteSpace(Model.ButtonText) 
            ? Html.Translate("/blocks/buttonblockcontrol/buttondefaulttext") 
            : Model.ButtonText;
    }
    @buttonText
</a>
<p>@Html.PropertyFor(m => m.ButtonCaption)</p>
