@model PreviewModel

@foreach(var area in Model.Areas)
{
    if(area.Supported)
    {
        @Html.Partial("TemplateHint", string.Format(@Html.Translate("/preview/heading"), Model.PreviewContent.Name, area.AreaName))
        <div class="row preview clearfix">
        @Html.DisplayFor(x => area.ContentArea, new {Tag = area.AreaTag})
        </div>
    }
    else
    {
        @Html.Partial("TemplateHint", string.Format(@Html.Translate("/preview/norenderer"), Model.PreviewContent.Name, area.AreaName))
    }
}

@if(!Model.Areas.Any())
{
    @Html.Partial("TemplateHint", string.Format(@Html.Translate("/preview/norendereratall"), Model.PreviewContent.Name))
}
