@using EPiServer.Forms.Core.Models
@using EPiServer.Forms.Helpers
@using EPiServer.Forms.Implementation.Elements
@using EPiServer.Web.Mvc.Html

@model TextboxElementBlock

<div class="Form__Element FormTextbox @Model.GetValidationCssClasses()" data-epiforms-element-name="@Model.FormElement.Code">
    <label for="@Model.FormElement.Guid" class="Form__Element__Caption">@Model.Label</label>
    <input name="@Model.FormElement.Code" id="@Model.FormElement.Guid" type="text" class="FormTextbox__Input"
           placeholder="@Model.PlaceHolder" value="@Model.PredefinedValue" @Html.Raw(Model.FormElement.AttributesString)  />

    <span data-epiforms-linked-name="@Model.FormElement.Code" class="Form__Element__ValidationError" style="display: none;">*</span>
</div>
